<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Something went terribly wrong!</h1>
<!--/*@thymesVar id="errorMsg" type="java"*/-->
<p th:text="${errorMsg}"></p>

<a href="/">Go back home</a> or try again
</body>
</html>